[user]
	email = fdschonborn@gmail.com
	name = Federico Damián Schonborn
	signingkey = F72109BC609B63C9
[core]
	editor = nano -clm
[alias]
	amend = commit --amend
[init]
	defaultBranch = master
[commit]
	gpgSign = true
[push]
	gpgSign = if-asked
[tag]
	gpgSign = true
[format]
	signOff = true
